<h2>スケジュール新規作成</h2>

<%= render "shared/flash" %>
<%= render "shared/error_message", obj:@schedule %>

<%= form_with model: @schedule do |f| %>
  <table>
    <tr>
      <th><%= f.label :title, "タイトル" %></th>
      <td><%= f.text_field :title %></td>
    </tr>
    <tr>
      <th><%= f.label :start, "開始日" %></th>
      <td><%= f.datetime_field :start %></td>
    </tr>
    <tr>
      <th><%= f.label :end, "終了日" %></th>
      <td><%= f.datetime_field :end %></td>
    </tr>
    <tr>
      <th><%= f.label :all_day, "終日" %></th>
      <td><%= f.check_box :all_day %></td>
      <!--f.check_box :all_day ,{}, "true", "false"-->
    </tr>
    <tr>
      <th><%= f.label :memo, "スケジュールメモ" %></th>
      <td><%= f.text_area :memo %></td>
    </tr>
  </table>
  
  <div>
    <ul>
      <li><%= f.submit "作成完了"%></li>
      <li><%= link_to "スケジュール一覧に戻る", :schedules %></li>
    </ul>
  </div>
<% end %>